@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;        /* Latar belakang utama: Putih Bersih */
  --foreground: #2B3440;        /* Warna teks utama: Abu-abu Gelap (Neutral kita) */
  --primary: #14B8A6;           /* Warna Primer: Green Teal */
  --secondary: #0D9488;         /* Warna Sekunder: Green Teal lebih gelap */

  /* Variabel Aksen dari Template Asli, kita adaptasi */
  --primary-accent: #2DD4BF;      /* Warna Aksen: Teal yang lebih cerah */
  --foreground-accent: #4a5568;  /* Warna teks sekunder/abu-abu (Tailwind's Gray 600) */
  --hero-background: #F9FAFB;      /* Latar Hero Section: Abu-abu Sangat Muda (Base-200 kita) */
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}